{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
    <center>
        <div class="card col-8 connexion pt-5">
            <div class="container">
                <div class="row">
                    <div class="col-5 mt-4 mb-5">
                        <img src="{{ asset('images/Hôtel_ville_Drancy_.jpeg') }}" class="card-img-top" alt="...">

                    </div>
                    <div class="col-7 mt-3 mb-4">
                        <div class="card-body">
                            <h2 class="fw-bold">Connexion</h2><br/>

                            <div class="connexion-form mx-5">
                                <form method="post" action="">

                                    {% if error %}
                                        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                                    {% endif %}

                                    {% if app.user %}
                                        <div class="mb-3">
                                            You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
                                        </div>
                                    {% endif %}

                                    <div class="form-floating mb-3">
                                        <input type="email" class="form-control" placeholder="name@example.com" name="email" id="inputEmail" autocomplete="email" required autofocus value="{{ last_username }}">
                                        <label for="inputEmail">E-mail</label>
                                    </div>
                                    <div class="form-floating">
                                        <input type="password" class="form-control" placeholder="Password" name="password" id="inputPassword" autocomplete="current-password" required>
                                        <label for="inputPassword">Mot de passe</label>
                                    </div>
                                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                                    <br/>
                                    {#
                                    Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
                                    See https://symfony.com/doc/current/security/remember_me.html

                                    <div class="checkbox mb-3">
                                        <label>
                                            <input type="checkbox" name="_remember_me"> Remember me
                                        </label>
                                    </div>
                                    #}

                                    <div class="btn-connect">
                                        <button class="btn btn-outline-warning" type="submit" name="SeConnecter">Se connecter</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <br/><br/><br/>
    </center>

{% endblock %}
