{% block body %}
<div class="container col-6 d-grid gap-4 mb-5">
    <div class="row">         
        <div class="card px-5 py-4">
            <div class="card-body">
                <div class="mb-3 row">

                {{ form_start(form) }}

                {% set labelClass = 'font-weight-bold' %}
           <div class="form-inline mb-4">
                {{ form_label(form.matricule, 'Matricule :', {'label_attr': {'class': labelClass}}) }}
                {{ form_widget(form.matricule, {'attr': {'class': 'form-control form-control-lg '}}) }}
            </div>

             <div class="form-inline mb-4">
                {{ form_label(form.modele, 'Modele :', {'label_attr': {'class': labelClass}}) }}
                {{ form_widget(form.modele, {'attr': {'class': 'form-control form-control-lg '}}) }}
            </div>
            <div class="form-inline mb-4">
                {{ form_label(form.marque, 'Marque :', {'label_attr': {'class': labelClass}}) }}
                {{ form_widget(form.marque, {'attr': {'class': 'form-control form-control-lg '}}) }}
            </div>
            <div class="form-inline mb-4">
                {{ form_label(form.puissance, 'Puissance :', {'label_attr': {'class': labelClass}}) }}
                {{ form_widget(form.puissance, {'attr': {'class': 'form-control form-control-lg '}}) }}
            </div>
   
                {{ form_widget(form) }}
                <button class="btn btn-warning">{{ button_label|default('Enregistrer') }}</button>
                 

                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}
