{% extends 'base.html.twig' %}

{% block title %}Vehicules{% endblock %}

{% block body %}
    <h1>Vehicules</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ vehicule.id }}</td>
            </tr>
            <tr>
                <th>Matricule</th>
                <td>{{ vehicule.matricule }}</td>
            </tr>
            <tr>
                <th>Modele</th>
                <td>{{ vehicule.modele }}</td>
            </tr>
            <tr>
                <th>Marque</th>
                <td>{{ vehicule.marque }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_vehiculescrud_index') }}">back to list</a>

    <a href="{{ path('app_vehiculescrud_edit', {'id': vehicule.id}) }}">edit</a>

    {{ include('vehiculescrud/_delete_form.html.twig') }}
{% endblock %}
